<form class="col-sm-10 col-sm-offset-1">
  <div class="form-group">
    <label class="control-label">Account code:</label>
    <input ng-if="isCreate" class="form-control" type="text" ng-model="account.code">
    <p ng-if="!isCreate" class="form-control-static">{{account.code}}</p>
  </div>

  <div class="form-group">
    <label class="control-label">Email:</label>
    <input class="form-control" type="text" ng-model="account.email">
  </div>

  <div class="form-group">
    <label class="control-label">Phone:</label>
    <input class="form-control" type="text" ng-model="account.phone">
  </div>

  <div class="form-group">
    <label class="control-label">Role:</label>
    <select class="form-control" ng-model="account.role" ng-options="r for r in roles">
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">Description:</label>
    <textarea rows="3" class="form-control" ng-model="source.description"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Subscriptions:</label>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Criteria</th>
        <th class="text-center">Email?</th>
        <th class="text-center">Inbox?</th>
        <th></th>
      </tr>
      <tr ng-repeat="s in account.subscriptions">
        <td>
          <a href ng-click="openEditModal(s)">{{s.name || 'Untitled ' + $index}}</a>
        </td>
        <td><crit-list crit="s.criteria"></crit-list></td>
        <td class="text-center">
          <toggle readonly="true" ng-model="s.email"></toggle>
        </td>
        <td class="text-center">
          <toggle readonly="true" ng-model="s.inbox"></toggle>
        </td>
        <td class="text-center">
          <a href ng-click="account.subscriptions.splice($index, 1)">
            <span class="fa fa-fw fa-trash"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="btn btn-default" ng-click="account.subscriptions.push({criteria:{}})">
            Add subscription
          </button>
        </td>
      </tr>
    </table>

  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-lg" ng-click="save()">Save changes</button>

    <button class="btn btn-danger btn-lg pull-right"
      ng-if="!isCreate" ng-click="confirmDelete()">Delete</button>
  </div>

</form>
