<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Criteria</th>
          <th class="text-center">Send email?</th>
          <th class="text-center">Add to inbox?</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="sub in subs">

        <td>
          <a href ng-click="openEditModal(sub)">
            {{sub.name || 'Untitled ' + $index}}
          </a>
        </td>

        <td class="timeline-filter">
          <crit-list crit="sub.criteria"></crit-list>
        </td>

        <td class="text-center">
          <toggle readonly="true" ng-model="sub.email"></toggle>
        </td>

        <td class="text-center">
          <toggle readonly="true" ng-model="sub.inbox"></toggle>
        </td>

        <td class="text-center">
          <a href ng-click="subs.splice($index, 1)">
            <span class="fa fa-fw fa-trash"></span>
          </a>
        </td>

      </tr>
    </table>

    <div class="alert alert-warning" ng-if="subs.length < 1">
      You have no subscriptions.
    </div>

    <div class="alert alert-info">
      To add a subscription, make a query, and when you are
      satisfied with the criteria click the "Filter > Save"
      command.
    </div>

    <button class="btn btn-primary btn-lg" ng-click="save()">
      Save changes
    </button>

  </div>
</div>
