h4.list-group-item-heading .text-muted:before {
  content: '\00b7';
  margin: 0 10px;
}

h4.list-group-item-heading a { font-weight: bold; }

.thumbnail { display: inline-block; margin-bottom: 0px }

nav.navbar { border-radius: 0px; }

/* estilos para os separadores de dias */
.day-header {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}