h4.list-group-item-heading .text-muted:before {
  content: '\00b7';
  margin: 0 10px;
}

h4.list-group-item-heading a { font-weight: bold; }

.thumbnail { display: inline-block; margin-bottom: 0px }

nav.navbar { border-radius: 0px; }